.calc-form
{
   border: 2px solid black;
   width: 25%;
}

.explain
{
   border: 2px solid black;
   font-size: 14pt;
   margin: 10px;
   padding: 10px;
   width: 45%;
}

.emph1
{
   font-weight: bold;
   text-transform: uppercase;
}

.emph2
{
   font-style: italic;
}

.input
{
   font-weight: bold;
   line-height: 25px;
}

.bttn
{
   background-color: rgb(230, 230, 230);
   border: 1px solid black;
   font-size: 20px;
   font-weight: bold;
   margin: 5px;
   padding: 1px;
   text-decoration: none;
   width: 30%;
}

.result
{
   border: 2px solid black;
   display: none;
   font-size: 18pt;
   margin-top: 20px;
   padding: 10px;
   width: 65%;
}

.rslt
{
   font-weight: bold;
}

a:link, a:visited, a:hover
{
   color: black;
   text-decoration: none;
}